# frozen_string_literal: true

# A door to the old world that reads, answering shapes. A sister of Query, not a subclass.
class LegacyQuery
  include TypedArguments

<%- if auth -%>
  extend Permission
<%- end -%>

<%- if auth -%>
  def self.call(actor: nil, **arguments)
    raise Permission::Refused, permission unless permits?(actor)

    operation = new(**arguments)
    answer = operation.__perform__(actor)
<%- else -%>
  def self.call(**arguments)
    answer = new(**arguments).__perform__
<%- end -%>

    raise TypeError, "#{name}#call must answer with shapes, got #{answer.class}" unless shapes?(answer)

    answer
  end

  def self.shapes?(answer)
    return answer.all? { |entry| entry.is_a?(Shape) } if answer.is_a?(Array)

    answer.is_a?(Shape)
  end
  private_class_method :shapes?

<%- if auth -%>

  private

  attr_reader :actor

<%- end -%>

<%- if auth -%>
  public def __perform__(actor)
    @actor = actor

    self.class.anonymous? ? anonymous_call : call
  end
<%- else -%>
  public def __perform__
    call
  end
<%- end -%>

  private_class_method :new, :allocate
end
