# frozen_string_literal: true

# The only place in the application that names a job.
class OperationJob < ActiveJob::Base
  DEFAULT_ATTEMPTS = 5

  def perform(operation:, arguments: {}, actor_class: nil, actor_id: nil)
    Object.const_get(operation).call(**actor(actor_class, actor_id), **arguments)
  rescue StandardError => error
    raise error if executions >= attempts_for(operation)

    retry_job(wait: backoff)
  end

  def self.actor_finder
    @actor_finder ||= ->(class_name, id) { Object.const_get(class_name).find(id) }
  end

  class << self
    attr_writer :actor_finder
  end

  private

  def attempts_for(operation)
    klass = Object.const_get(operation)

    klass.const_defined?(:ATTEMPTS, false) ? klass.const_get(:ATTEMPTS, false) : DEFAULT_ATTEMPTS
  end

  def backoff
    (executions**2) + 1
  end

  def actor(class_name, id)
    return {} if class_name.nil? || id.nil?

    { actor: self.class.actor_finder.call(class_name, id) }
  end
end
