# frozen_string_literal: true

module PersonalData
  ROUTES = %i[delete_row anonymise retain_with_reason not_personal].freeze

  COLUMNS = {
  }.freeze

  def self.route(table, column)
    COLUMNS.fetch(table, {})[column]
  end

  def self.declared?(table, column)
    !route(table, column).nil?
  end

  def self.tables_needing_erasure
    COLUMNS.select { |_, columns| columns.value?(:delete_row) || columns.value?(:anonymise) }
           .keys.sort
  end
end
